<div class="jumbotron">
  <h1>Moja aplikacja</h1>
  <p>...</p>
  <%= link_to 'O mnie", home_apout_path, class: btn btn-default' %>
  <%= link_to 'Strona główna", root_path, class: btn btn-primary' %>
  
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>